%% -*- erlang -*-
{minimum_otp_vsn, "27.0"}.
{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [rebar3_lint, rebar3_hex, rebar3_ex_doc]}.

{alias, [{check, [lint, dialyzer, xref, ct, cover]}]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{dialyzer, [{plt_extra_apps, [common_test]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
	       deprecated_functions]}.

{ex_doc, [{extras, ["LICENSE.md", "CHANGELOG.md"]},
	  {source_url, "https://github.com/sg2342/erl_rfc3394"},
	  {homepage_url, "https://github.com/sg2342/erl_rfc3394"},
	  {prefix_ref_vsn_with_v, false}]}.

{hex, [{doc, ex_doc}]}.
